<div class="page_container">

    <h1>Barcode Scanner</h1>
    <p *ngIf="!hideMessage">Click start to scan a barcode.</p>

    <div class="page_content_wrapper">
      <div class="button_wrapper">
        <button *ngIf="showBarcode && !hideAlert" class="btn stop" (click)="stopScanner()">Stop</button>
        <button *ngIf="!showBarcode && !hideAlert" class="btn start" (click)="startScanner()">Start</button>
      </div>
      <div *ngIf="hideAlert" class="barcode_alert">
        <p>{{ barcodeType }}: {{ barcode }}</p>
        <button class="btn alert" (click)="closeAlert()">Close</button>
      </div>
      <div *ngIf="showBarcode" class="barcode_scanner_wrapper">
        <scandit-sdk-barcode-picker [scanSettings]="scanSettings" (scan)="onScan($event)">
        </scandit-sdk-barcode-picker>
      </div>
    </div>



</div>


