.page_container {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.page_content_wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.visible {
    width: 100%;
    margin: auto;
    display: block;
    max-width: 500px;
    transition: all 1s ease-in-out;
}

.barcode_scanner_wrapper {
    text-align: center;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.drawingBuffer {
    display: none;
}

video {
    width: 100%;
    max-width: 800px;
}