.page_container {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.page_content {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.visible {
    width: 100%;
    margin: auto;
    display: block;
    max-width: 500px;
    transition: all 1s ease-in-out;
}